body {
    width: 300px;
    padding: 10px;
    font-family: Arial, sans-serif;
}

button {
    background-color: #9146FF;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
}

#feedback-container {
    margin-top: 20px;
}